body {
  background-color: gray;
}
.container {
  padding: 20px;
}
.cardBody {
  margin-top: 20px;
  padding: 5px;
  width: 12rem;
  height: 14rem;
  border-radius: 10px;
  background-color: rgba(48, 138, 255, 0.734);
  text-align: center;
  color: white;
  margin-left: 5px;
}

.container img {
  margin-top: 3px;
  width: 90%;
}

.daysContainer {
  display: flex;
}
